colorlog==6.9.0
pip==25.2
ruff==0.12.11
debugpy==1.8.16
pytest==8.4.1
pytest-cov==6.2.1
homeassistant==2025.8.3
pytest-homeassistant-custom-component==0.13.272
mypy==1.13.0
bandit[toml]==1.7.10
yamllint==1.37.1
pre-commit==4.3.0
pylint==3.3.1
interrogate==1.7.0
vulture==2.13
pydocstyle==6.3.0
commitizen==3.29.1
